* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

div[data-role='controlgroup'] .ui-btn-icon-notext .ui-icon{
    background-image:url(images/joker_icons.png);
    right:49% !important;
}
#main_page_vote_bar .ui-btn-icon-notext .ui-icon {
    -moz-background-size: 51em 3em;
    -o-background-size: 51em 3em;
    -webkit-background-size: 51em 3em;
    background-size: 51em 3em;
    height: 3em;
    width: 3em;
    margin: -1.5em -1.5em 0 0 !important;
}
#main_page_vote_bar .ui-btn-icon-notext .ui-btn-inner {
    height: 1em !important;
    width: 0.8em !important;
}
#main_page_vote_bar .ui-btn-icon-notext .ui-icon {
    background-color:transparent;
}
.ui-icon-like {
    background-position: -26.5em 50%;
}
.ui-icon-unlike {
    background-position: -29.5em 50%;
}
.ui-icon-spam {
    background-position: -32.4em 50%;
}
.ui-btn-icon-notext {
    font-size: 12px;
}
.ui-header .ui-btn-icon-notext .ui-icon,
.ui-footer .ui-btn-icon-notext .ui-icon {
    -moz-background-size: 64.9em 4em;
    -o-background-size: 64.9em 4em;
    -webkit-background-size: 64.9em 4em;
    background-size: 64.9em 4em;
    height: 3.8em;
    width: 3.8em;
    margin: -1.9em -1.9em 0 0 !important;
}
.ui-header .ui-btn-icon-notext .ui-btn-inner,
.ui-footer .ui-btn-icon-notext .ui-btn-inner {
    height: 4em !important;
    width: 3.6em !important;
}
.ui-icon-world {
    background-position: -57.6em 50%;
}
.ui-icon-home {
    background-position: -53.5em 50%;
}
.ui-icon-mic {
    background-position: -49.35em 50%;
}
.ui-icon-menu {
    background-position: -45.15em 50%;
}
.ui-icon-play {
    background-position: -25.5em 50%;
}
.ui-icon-pause {
    background-position: -31em 50%;
}
.ui-icon-next {
    background-position: -28.2em 50%;
}
.ui-icon-previous {
    background-position: -22.8em 50%;
}
.ui-icon-cancel {
    background-position: 0em 50%;
}
.ui-icon-record {
    background-position: -48px 50%;
}
.ui-icon-rplay {
    background-position: -97px 50%;
}
.ui-icon-save {
    background-position: -240px 50%;
}
.ui-icon-stoprecord {
    background-position: -144px 50%;
}
.ui-icon-rstopplay {
    background-position: -192px 50%;
}
.ui-icon-edit {
    background-position: -61.1em 50%;
}
.ui-header {
    text-align:center;
}


#main_page_content>div {
    position:relative;
}
#main_page_sort_bar {
    bottom:-17%;
    height: 26%;
}
    #main_page_sort_tags {
        height: 58%;
        overflow: hidden;
    }
    #main_page_sort_button {
        bottom:0%;
    }
#main_page_voice_container {
    height: 23%;
    bottom: -20%;
}
    #main_page_name_bar {
        bottom:-14%;
    }
        #main_page_name_bar.shift {
            bottom: -33% !important;
        }
    #main_page_timer_bar {
        float: left;
        bottom:-17%;
        width: 17%;
    }
        #main_page_timer_bar.shift {
            bottom: -43% !important;
        }
    #main_page_content .timer_div {
        position:relative;
        top:10%;
        height: auto;
    }
    #main_page_tags_bar {
        bottom:-17%;
        width: 80%;
        float: right;
        overflow: hidden;
        height: 65%;
    }
#main_page_votes_counters_bar {
    bottom: -18%;
    margin-top:14px;
    height: 4%;
}
    #main_page_votes_counters_bar>div {
        width: 162px;
        margin-left:auto;
        margin-right:auto;
    }
        #main_page_votes_counters_bar>div>div {
            position: relative;
            width: 53px;
            float: left;
            color: #194b7e;
        }
#main_page_vote_bar {
    padding-top: 1%;
    bottom:-18%;
}
#main_page_count_bar {
    bottom:-19%;
}







/*
@media screen and (orientation: landscape), (min-width: 600px)  and (max-width: 700px) and (min-height: 300px) and (max-height: 400px) {
    #recording_page_content{
    }
    #recording_page_content .tags_div{
        position:relative;
        height: 150px;
        padding:8px;
    }
    #recording_page_content .timer_div{
        position:relative;
        height: auto;
    }
    #recording_page .ui-content {
        position:fixed;
    }
    #recording_page .ui-footer {
        float: right;
    }
    #recording_page #controls_bar {
        margin: 0 3px;
        position:relative;
    }
}
@media screen and (orientation: portrait), (min-width: 300px)  and (max-width: 400px) and (min-height: 400px) and (max-height: 600px) {
    #recording_page{
    }
    #recording_page_content{
    }
    #recording_page_content .tags_div{
        height: 150px;
        top: 20%;
        padding:8px;
        position:relative;
    }
    #recording_page_content .timer_div{
        text-align:center;
        position:relative;
        top:10%;
        height: auto;
    }

}
*/
.ui-footer {
    position:relative;
    bottom:0;
    text-align:center;
}

#login_page_footer {
    padding: 1em;
}
#registration_page_footer {
    padding: 1em;
}
#main_page {
    z-index: 10;
}
#recording_page {
    z-index: 10;
}
#login_page {
    z-index: 10;
}
#start_page {
    z-index: 10;
}
#myvoices_page {
    z-index: 10;
}
#registration_page {
    z-index: 10;
}
#recording_page .ui-header {
    /*height:0px;*/
}
#recording_page_content .timer_div{
    text-align:center;
    position:relative;
    top:10%;
    height: auto;

    font-size:100px;
}
.tags_div{
    height: 150px;
    bottom: -36%;
    padding:8px;
    position:relative;

    border-color: black;
    border-style: groove;
    border-width: 1px;
}
.tags_div p{
    height: 52%;
    overflow:hidden;
}
.tags_div label{
    display:inline;
    margin-left:8px;
}
.tags_div input[type="text"]{
    margin-left: 10px;
    width:60%;
    position:relative;
    display:inline;
}
.add_tag_tips{
    position: absolute;
    bottom: 48%;
    left: 0%;
    width: 100%;
    height: auto;
}
.add_tag_tips>div{
    width: 90%;
    height: 50px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
}
#sorting_tags_container {
    margin-bottom: 5%;
}
    #sorting_tags_container .add_tag_tips{
        bottom: 33%;
    }
    #sorting_tags_container .tags_div{
        background-color: white;
    }
#edit_voice_tags_container {
    bottom: 4em;
}
    #edit_voice_tags_container .add_tag_tips{
    }
    #edit_voice_tags_container .tags_div{
        background-color: white;
    }




#start_page .ui-footer {
    display: none;
}
#start_page_buttons {
    text-align: center;
    position: relative;
}

#ajax_loader {
    width: 100%;
    height: 110%;
    background-color: black;
    z-index: 1000;
    position: absolute;
    display:none;
}

#ajax_loader img{
    position: absolute;
    top: 45%;
    left: 48%;
}

.modal_container {
    z-index: 1000;
    position:static;
    /*position:relative; it was trouble for my voices menu*/
    height: 100%;
    display:none;
}
.modal_background {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    position: absolute;
    opacity: 0.8;
}
.modal {
    width: 100%;
    z-index: 1001;
    position: absolute;
    bottom: 0;
    text-align:center;
}
#select_sorting_type.modal {
    position: relative !important;
    bottom: -26% !important;
}
    .modal>div {
        width: 90%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        position:relative;
    }
.content_with_form {
    height: 100%;
}
    .content_with_form>div {
        background-color: white;
        padding: 10px;
    }
#myvoices_page_content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#myvoices_page_list {
    z-index:11;
    width: 100%;
    position:absolute;
    overflow-y: scroll;
}
    .voicesList {
        z-index: 0;
    }
    #myvoices_page_list li {
        height:40px;
        z-index: 0;
    }
    #myvoices_page_list li.active{
        background-color:#A9E2F3;
    }
        #myvoices_page_list li div.time_box {
            float: left;
            width: 10%;
            margin-top: 2%
        }
        #myvoices_page_list li div.tags {
            float: left;
            width: 58%;
            margin-left: 4%;
        }
        #myvoices_page_list li div.vote {
            float: right;
            width: 14%;
            height: 100%;
        }
        #myvoices_page_list li div.vote div:first-child {
            float: left;
            width: auto;
            margin-top: 16%;
        }
        #myvoices_page_list li div.vote div:last-child {
            float: left;
            width: 40%;
            background-image: url(images/joker_icons.png);
            background-size: 46em;
            height: 100%;
            margin-left: 0.1em;
        }
        #myvoices_page_list li div.spams div:last-child {
            background-position: -75.8em 33%;
        }
        #myvoices_page_list li div.dislikes div:last-child {
            background-position: -73.4em 33%;
            margin-top: 0.7em;
        }
        #myvoices_page_list li div.likes div:last-child {
            background-position: -70.7em 33%;
        }


#registration_page label.tip {
    color: red;
}
/*
#registration_page .input_tag {
    margin-bottom: 5% !important;
}
*/
.space_btw_inputs .input {
    margin-bottom: 5% !important;
}
.space_btw_buttons .ui-btn {
    margin-bottom: 5% !important;
}
.large_buttons .ui-btn {
    height: 48px;
}
.large_buttons .ui-btn .ui-btn-inner  {
    font-size: 21px;
}
.small_font {
    font-size:21px !important;
}
.medium_font {
    font-size:30px !important;
}
.large_font {
    font-size:50px !important;
}
.center_text {
    text-align: center;
}
.second_color {
    color: #194b7e;
}
.invisible {
    display:none;
}
.high_layer {
    z-index: 1000;
}
.transparent {
    opacity: 0.8;
}
.center_div {
    margin: 0 auto;
}
.border_radius {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.break_line {
    white-space: pre;
    word-wrap: break-word;
    word-break: normal;
}
.whole_width {
    width: 100% !important;
}
.zero_width {
    width: 0% !important;
}

