= form_for @like do |f|
  - if @like.errors.any?
    #error_explanation
      %h2= "#{pluralize(@like.errors.count, "error")} prohibited this like from being saved:"
      %ul
        - @like.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :voice_id
    = f.number_field :voice_id
  .field
    = f.label :like
    = f.check_box :like
  .actions
    = f.submit 'Save'
