* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.controls_bar .ui-icon-cancel, .ui-icon-record, .ui-icon-rplay, .ui-icon-save, .ui-icon-stoprecord, .ui-icon-rstopplay, .ui-icon-play, .ui-icon-pause, .ui-icon-next, .ui-icon-previous{
    background-image:url(images/joker_icons.png);
    -moz-background-size:812px 48px;
    -o-background-size:812px 48px;
    -webkit-background-size:812px 48px;
    background-size:812px 48px;
    height: 48px;
    width:48px;
    margin: -24px -23px 0 0 !important;
    right:49% !important;
}
.controls_bar .ui-icon-cancel{
    background-position:0px 50%;
}
.controls_bar .ui-icon-record{
    background-position:-48px 50%;
}
.controls_bar .ui-icon-rplay{
    background-position:-97px 50%;
}
.controls_bar .ui-icon-save{
    background-position:-240px 50%;
}
.controls_bar .ui-icon-stoprecord{
    background-position:-144px 50%;
}
.controls_bar .ui-icon-rstopplay{
    background-position:-192px 50%;
}
.controls_bar .ui-icon-play{
    background-position:-318px 50%;
}
.controls_bar .ui-icon-pause{
    background-position:-388px 50%;
}
.controls_bar .ui-icon-next{
    background-position:-352px 50%;
}
.controls_bar .ui-icon-previous{
    background-position:-286px 50%;
}
.controls_bar .ui-btn-inner{
    height: 49px !important;
    width: 44px !important;
}
#main_page_content>div{
    position:relative;
}
#main_page_count_bar{
    bottom:-82%;
}
#main_page_sort_bar{
    bottom:-24%;
}
#main_page_timer_bar{
    bottom:-22%;
}
    #main_page_timer_bar.shift{
        bottom: -43% !important;
    }
#main_page_vote_bar{
    bottom:-26%;
}
#main_page_name_bar{
    bottom:-25%;
}
    #main_page_name_bar.shift{
        bottom: -33% !important;
    }
#main_page_vote_bar .ui-icon-like, .ui-icon-unlike, .ui-icon-spam{
    background-image:url(images/joker_icons.png);
    -moz-background-size:812px 48px;
    -o-background-size:812px 48px;
    -webkit-background-size:812px 48px;
    background-size:812px 48px;
    height: 48px;
    width:48px;
    margin: -24px -23px 0 0 !important;
    right:49% !important;
}
#main_page_vote_bar .ui-btn-inner{
    height:17px !important;
    width:12px !important;
}
#main_page_vote_bar .ui-icon-like{
    background-color:transparent;
    background-position:-425px 50%;
}
#main_page_vote_bar .ui-icon-unlike{
    background-color:transparent;
    background-position:-473px 50%;
}
#main_page_vote_bar .ui-icon-spam{
    background-color:transparent;
    background-position:-516px 50%;
}

#main_page_votes_counters_bar {
    bottom: -10%;
    margin-top:14px;
}
#main_page_votes_counters_bar>div{
    width: 162px;
    margin-left:auto;
    margin-right:auto;
}
#main_page_votes_counters_bar>div>div{
    position: relative;
    width: 53px;
    float: left;
    color: #194b7e;
}









@media screen and (orientation: landscape), (min-width: 600px)  and (max-width: 700px) and (min-height: 300px) and (max-height: 400px) {
    #recording_page_content{
    }
    #recording_page_content .tags_div{
        position:relative;
        height: 150px;
        padding:8px;
    }
    #recording_page_content .timer_div{
        position:relative;
        height: auto;
    }
    #recording_page .ui-content {
        position:fixed;
    }
    #recording_page .ui-footer {
        float: right;
    }
    #recording_page #controls_bar {
        margin: 0 3px;
        position:relative;
    }
}
@media screen and (orientation: portrait), (min-width: 300px)  and (max-width: 400px) and (min-height: 400px) and (max-height: 600px) {
    #recording_page{
    }
    #recording_page_content{
    }
    #recording_page_content .tags_div{
        height: 150px;
        top: 20%;
        padding:8px;
        position:relative;
    }
    #recording_page_content .timer_div{
        text-align:center;
        position:relative;
        top:10%;
        height: auto;
    }

}

.ui-footer {
    position:relative;
    bottom:0;
    text-align:center;
}

#main_page {
    z-index: 10;
}
#recording_page {
    z-index: 10;
}
#login_page {
    z-index: 10;
}
#start_page {
    z-index: 10;
}
#myvoices_page {
    z-index: 10;
}
#registration_page {
    z-index: 10;
}
#recording_page .ui-header {
    height:0px;
}
#main_page_content .timer_div{
    font-size:50px;
    text-align:center;
    position:relative;
    top:10%;
    height: auto;
}
#recording_page_content .timer_div{
    font-size:100px;
}
#recording_page_content .tags_div{
    -moz-border-radius: .6em;
    -webkit-border-radius: .6em;
    -khtml-border-radius: .6em;
    border-radius: .6em;

    border-color: black;
    border-style: groove;
    border-width: 1px;
}
#recording_page_content .tags_div p{
    height: 60%;
    overflow:hidden;
}
#recording_page_content .tags_div label{
    display:inline;
    margin-left:8px;
}
#recording_page_content .tags_div input[type="text"]{
    margin-left: 10px;
    width:60%;
    position:relative;
    display:inline;
}






#start_page .ui-footer {
    display: none;
}
#start_page_buttons {
    text-align: center;
    position: relative;
}

#ajax_loader {
    width: 100%;
    height: 110%;
    background-color: black;
    z-index: 1000;
    position: absolute;
    display:none;
}

#ajax_loader img{
    position: absolute;
    top: 45%;
    left: 48%;
}

.modal_container {
    z-index: 1000;
    position:static;
    /*position:relative; it was trouble for my voices menu*/
    height: 100%;
    display:none;
}
.modal_background {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    position: absolute;
    opacity: 0.8;
}
.modal {
    width: 100%;
    z-index: 1001;
    position: absolute;
    text-align:center;
    bottom: 0;
}
    .modal>div {
        width: 90%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        position:relative;
    }
.content_with_form {
    height: 100%;
}
    .content_with_form>div {
        border-radius: 10px;
        background-color: white;
        padding: 10px;
    }
#myvoices_page_content{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#myvoices_page_list{
    z-index:11;
    width: 100%;
    position:absolute;
    overflow-y: scroll;
}
    #myvoices_page_list li{
        height:40px;
    }
        #myvoices_page_list li div{
            height:37px;
        }
        #myvoices_page_list li div div{
            width:100%;
            height:12px;
        }
        #myvoices_page_list li div.time_box{
            float:left;
            width:60%;
        }
        #myvoices_page_list li div.votes_box{
            text-align:left;
            float:right;
            width:39%;
        }
    #myvoices_page_list li.active{
        /*background-color:#2E9AFE;*/
        background-color:#A9E2F3;
    }
.voicesList {
    z-index: 0;
}
    .voicesList li {
        z-index: 0;
    }


#registration_page label.tip {
    color: red;
}
/*
#registration_page .input_tag {
    margin-bottom: 5% !important;
}
*/
.space_btw_inputs .input {
    margin-bottom: 5% !important;
}
.space_btw_buttons .ui-btn {
    margin-bottom: 5% !important;
}
.large_buttons .ui-btn {
    height: 48px;
}
.large_buttons .ui-btn .ui-btn-inner  {
    font-size: 21px;
}
.small_font{
    font-size:21px !important;
}
.medium_font{
    font-size:30px !important;
}
.large_font{
    font-size:50px !important;
}
.center_text{
    text-align: center;;
}
.second_color{
    color: #194b7e;
}
.invisible {
    display:none;
}

