= form_for @app_account do |f|
  - if @app_account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@app_account.errors.count, "error")} prohibited this app_account from being saved:"
      %ul
        - @app_account.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :login
    = f.text_field :login
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :app_id
    = f.number_field :app_id
  .field
    = f.label :time
    = f.number_field :time
  .field
    = f.label :max_time
    = f.number_field :max_time
  .actions
    = f.submit 'Save'
