%h1 Listing app_accounts

%table
  %tr
    %th Login
    %th Password
    %th App
    %th Time
    %th Max Time
    %th Last Usage
    %th
    %th
    %th

  - @app_accounts.each do |app_account|
    %tr
      %td= app_account.login
      %td= app_account.password
      %td= app_account.app_id
      %td= app_account.time
      %td= app_account.max_time
      %td= app_account.last_usage
      %td= link_to 'Show', app_account
      %td= link_to 'Edit', edit_app_account_path(app_account)
      %td= link_to 'Destroy', app_account, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New App account', new_app_account_path
