%p#notice= notice

%p
  %b Login:
  = @app_account.login
%p
  %b Password:
  = @app_account.password
%p
  %b App:
  = @app_account.app_id
%p
  %b Time:
  = @app_account.time

= link_to 'Edit', edit_app_account_path(@app_account)
\|
= link_to 'Back', app_accounts_path
