= form_for @voice do |f|
  - if @voice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@voice.errors.count, "error")} prohibited this voice from being saved:"
      %ul
        - @voice.errors.full_messages.each do |msg|
          %li= msg
  %div.voice_edit_part
    .field
      = f.label :url
      = f.text_field :url
    .field
      = f.label :link
      = f.text_field :link
    .field
      = f.label :system
      = f.text_field :system
    .field
      = f.label :user_id
      = f.number_field :user_id
    .field
      = f.label :app_account_id
      = f.number_field :app_account_id
    .field
      = f.label :likes
      = f.number_field :likes
    .field
      = f.label :dislikes
      = f.number_field :dislikes
  %div.voice_edit_part
    .field
      = f.label :likes_sum
      = f.number_field :likes_sum
    .field
      = f.label :duration
      = f.number_field :duration
    .field
      = f.label :size
      = f.number_field :size, :in => 0..300, :step => 0.0000001
    .field
      = f.label :enabled
      = f.check_box :enabled, :class => "checkbox"
    .field
      = f.label :deleted
      = f.check_box :deleted, :class => "checkbox"
    .field
      = f.label :stream_deleted
      = f.check_box :stream_deleted, :class => "checkbox"
    .field
      = f.label :downloaded
      = f.check_box :downloaded, :class => "checkbox"
  %div.actions
    = f.submit 'Save'
= form_tag("update_tags") do
  = text_area_tag(:tags, @tags, size: "24x3")
  %div.actions
    = submit_tag('Save tags')
