%h1 Listing voices

= form_tag '/voices', :method => 'get' do
  %p
    = hidden_field_tag :search
    = label_tag :enabled, 'Enabled'
    = check_box_tag :enabled, 1, @enabled
    = label_tag :deleted, 'Deleted'
    = check_box_tag :deleted, 1, @deleted
    = label_tag :stream_deleted, 'Stream deleted'
    = check_box_tag :stream_deleted, 1, @stream_deleted
    = label_tag :downloaded, 'Downloaded'
    = check_box_tag :downloaded, 1, @downloaded
    %br
    = submit_tag "Select", :name => nil
= will_paginate @voices
%table
  %tr
    %th Link
    %th System
    %th User
    %th Likes
    %th Dislikes
    %th Likes sum
    %th Enabled
    %th Deleted
    %th Stream deleted
    %th Duration
    %th Downloaded
    %th
    %th
    %th

  - @voices.each do |voice|
    %tr
      %td= link_to "Link", voice.link
      %td= voice.system + ' ' + voice.app_account_name
      %td= voice.user_name + ' ' + voice.user_id.to_s
      %td= voice.likes
      %td= voice.dislikes
      %td= voice.likes_sum
      %td= voice.enabled
      %td= voice.deleted
      %td= voice.stream_deleted
      %td= voice.duration
      %td= voice.downloaded
      %td= link_to 'Show', voice
      %td= link_to 'Edit', edit_voice_path(voice)
      %td= link_to 'Destroy', voice, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Voice', new_voice_path
