%p#notice= notice

%p
  %b Url:
  = @voice.url
%p
  %b System:
  = @voice.system
%p
  %b User:
  = @voice.user_id
%p
  %b Likes:
  = @voice.likes
%p
  %b Dislikes:
  = @voice.dislikes
%p
  %b Likes sum:
  = @voice.likes_sum
%p
  %b Enabled:
  = @voice.enabled
%p
  %b Duration:
  = @voice.duration
%p
  %b Size:
  = @voice.size

= link_to 'Edit', edit_voice_path(@voice)
\|
= link_to 'Back', voices_path
