= form_for @app do |f|
  - if @app.errors.any?
    #error_explanation
      %h2= "#{pluralize(@app.errors.count, "error")} prohibited this app from being saved:"
      %ul
        - @app.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :system
    = f.text_field :system
  .field
    = f.label :client_id
    = f.text_field :client_id
  .field
    = f.label :client_secret
    = f.text_field :client_secret
  .field
    = f.label :time
    = f.number_field :time
  .actions
    = f.submit 'Save'
