%h1 Listing apps

%table
  %tr
    %th System
    %th Client
    %th Client secret
    %th Time
    %th
    %th
    %th

  - @apps.each do |app|
    %tr
      %td= app.system
      %td= app.client_id
      %td= app.client_secret
      %td= app.time
      %td= link_to 'Show', app
      %td= link_to 'Edit', edit_app_path(app)
      %td= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New App', new_app_path
