%p#notice= notice

%p
  %b System:
  = @app.system
%p
  %b Client:
  = @app.client_id
%p
  %b Client secret:
  = @app.client_secret
%p
  %b Time:
  = @app.time

= link_to 'Edit', edit_app_path(@app)
\|
= link_to 'Back', apps_path
