= form_for @spam do |f|
  - if @spam.errors.any?
    #error_explanation
      %h2= "#{pluralize(@spam.errors.count, "error")} prohibited this spam from being saved:"
      %ul
        - @spam.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :voice_id
    = f.number_field :voice_id
  .actions
    = f.submit 'Save'
