%h1 Listing spams

%table
  %tr
    %th User
    %th Voice
    %th
    %th
    %th

  - @spams.each do |spam|
    %tr
      %td= spam.user_id
      %td= spam.voice_id
      %td= link_to 'Show', spam
      %td= link_to 'Edit', edit_spam_path(spam)
      %td= link_to 'Destroy', spam, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Spam', new_spam_path
