/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
div.restore_password{
  margin:0 auto;
  width:550px;
  margin-top: 200px;
}
