%h1 Listing tags

%table
  %tr
    %th Tag
    %th
    %th
    %th

  - @tags.each do |tag|
    %tr
      %td= tag.tag
      %td= link_to 'Show', tag
      %td= link_to 'Edit', edit_tag_path(tag)
      %td= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Tag', new_tag_path
