!!!
%html
  %head
    %title
      Joker
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    %div
    -if !session[:user_id].nil?
      = link_to 'Users', users_path
      = link_to 'Voices', voices_path
      = link_to 'Tokens', tokens_path
      = link_to 'Likes', likes_path
      = link_to 'Spams', spams_path
      = link_to 'Tags', tags_path
      = link_to 'Logout', users_path + '/logout'
    -else
      = ''
    = yield

