= form_for @token do |f|
  - if @token.errors.any?
    #error_explanation
      %h2= "#{pluralize(@token.errors.count, "error")} prohibited this token from being saved:"
      %ul
        - @token.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :token
    = f.text_field :token
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
