%h1 Listing tokens

%table
  %tr
    %th Token
    %th User
    %th
    %th
    %th

  - @tokens.each do |token|
    %tr
      %td= token.token
      %td= token.user_id
      %td= link_to 'Show', token
      %td= link_to 'Edit', edit_token_path(token)
      %td= link_to 'Destroy', token, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Token', new_token_path
