= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :guser
    = f.text_field :guser
  .field
    = f.label :language
    = f.text_field :language
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :enabled
    = f.check_box :enabled, :class => "checkbox"
  .actions
    = f.submit 'Save'
