%h1 Listing users

%table
  %tr
    %th Guser
    %th Language
    %th Enabled
    %th Password
    %th Name
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.guser
      %td= user.language
      %td= user.enabled
      %td= user.password
      %td= user.name
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
