= form_for @user, :url => {:action => 'login'}  do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from logining:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :guser
    = f.text_field :guser
  .field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit 'Login'
