%div.restore_password
  - if @result
    %h1
      Hi, #{@user.name}
    %br
    %p
      Your password restored successfully
    %p
      Your new password is
      %b #{@password}
  - else
    %p
      Ooop's. Something went wrong.
    %p
      Try to request password restoring one more time.
