!!!
%html
  %head>
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
  %body
    %h1
      Hi, #{@user.name}
    %p
      This mail contains instructions for repairing the password.
      If you did not request restoration of the password, simply ignore this email.
    %br
    %p
      Your new password is #{@password}.


      To confirm new password, just follow this
      %a{:href => @hash} link
    %p
      Thanks for joining and have a great day!
