Hi, #{@user.name}
===============================================

This mail contains instructions for repairing the password.
If you did not request restoration of the password, simply ignore this email.

Your new password is #{@password}.
To confirm new password, just follow this link: #{@hash}.

Thanks for joining and have a great day!
